<!DOCTYPE html>
<html>
  <head>
    <title>500</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="app"><h1>Internal Server Error</h1></div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
